<div ui-content-for="title">
  <span ng-cloak class="ng-hide" ng-show="filterBy.length > 0 && !showSearch" >Favourite</span>
</div>
<div ui-content-for="search" ng-if="fullversion">
  <div class="btn">
      <input class="searchinput" type="text" ng-model="test.english" ng-show="showSearch"/>
      <i class="fa fa-search" style="width:30px;height:20px;" ng-click="showSearch = !showSearch; test = '';"></i>
  </div>
</div>

<div class="scrollable">  
  <div class="scrollable-content">

   <div class="section">
      <div class="panel-group" 
        
        ui-state='myAccordion' 
        ui-default='2'>
        
    
    <div ng-cloak class="list-group text-center" ng-hide="filterBy.length > 0" ng-if="!test">
          <div class="list-group-item list-group-item-home">
            <h1>English - Malay Phrasebook
            </h1>
          </div>
          <div class="list-group-item list-group-item-home">
            <div>
              <i class="fa fa-star feature-icon text-primary"></i>
            </div>
            <div>
                <h3 class="home-heading">Favourites sentences will be displayed here</h3>
            </div>
          </div>
        </div>
 

        <div class="panel panel-default" ng-repeat="x in fav | inArray:filterBy:'data_id'" ng-if="!test">
        
          <div class="panel-heading" ui-set="{'myAccordion': x.data_id}">
        
            <h4 class="panel-title" style="overflow: auto;">
                <span style="width: 90%; display: table-cell; float: left;">{{x.english}}</span>
                <i class="fa fa-star" style="max-width: 16px; display: table-cell;" ng-click="delFav(x.data_id)"></i>
            </h4>
          </div>

          <div ui-if="myAccordion == {{x.data_id}}">
            <div class="panel-body">
              {{x.malay}}
            </div>
          </div>
        </div>

        <div class="panel panel-default" ng-repeat="x in fav | filter:test track by x.data_id" ng-if="test">
        
          <div class="panel-heading" ui-set="{'myAccordion': x.data_id}">
        
            <h4 class="panel-title" style="overflow: auto;">
                <span style="width: 90%; display: table-cell; float: left;">{{x.english}}</span>
                <i class="fa fa-star-o" style="max-width: 16px; display: table-cell;" ng-click="addFav(x.data_id)" ng-if="filterBy.indexOf(x.data_id) == -1"></i>
                <i class="fa fa-star" style="max-width: 16px; display: table-cell;" ng-click="delFav(x.data_id)" ng-if="filterBy.indexOf(x.data_id) != -1"></i>
            </h4>
          </div>

          <div ui-if="myAccordion == {{x.data_id}}">
            <div class="panel-body">
              {{x.malay}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
