<div ui-content-for="title">
  <span ng-repeat="x in data | filter: { cat_id: catid }" ng-if="!showSearch && $index==0">{{x.cat_name}}</span>
</div>
<div ui-content-for="search">
  <div class="btn">
      <input class="searchinput" type="text" ng-model="test.english" ng-show="showSearch" ng-model-options="{debounce: 500}"/>
      <i class="fa fa-search" style="width:30px;height:20px;" ng-click="showSearch = !showSearch; test = '';"></i>
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="panel-group" 
        
        ui-state='myAccordion' 
        ui-default='2'>

    
        <div class="panel panel-default" ng-repeat="x in data | customOrder : 'english'" ng-if="x.cat_id == catid && !test">
          <div class="panel-heading" ui-set="{'myAccordion': x.data_id}">
        
            <h4 class="panel-title" style="overflow: auto;">
                <span style="width: 90%; display: table-cell; float: left;">{{x.english}}</span>
                <i class="fa fa-star-o" style="max-width: 16px; display: table-cell;" ng-click="addFav(x.data_id)" ng-if="favdata.indexOf(x.data_id) == -1"></i>
                <i class="fa fa-star" style="max-width: 16px; display: table-cell;" ng-click="delFav(x.data_id)" ng-if="favdata.indexOf(x.data_id) != -1"></i>
            </h4>
          </div>

          <div ui-if="myAccordion == {{x.data_id}}">
            <div class="panel-body">
                {{x.malay}} <i class="fa fa-volume-up right" ng-click="playvoice(x.malay)"></i><i class="fa fa-files-o right" ng-click="copyclipboard(x.malay)"></i>
            </div>
          </div>
        </div>

        <div class="panel panel-default" ng-repeat="x in data | filter:test track by x.data_id" ng-if="test">
        
          <div class="panel-heading" ui-set="{'myAccordion': x.data_id}">
        
            <h4 class="panel-title" style="overflow: auto;">
                <span style="width: 90%; display: table-cell; float: left;">{{x.english}}</span>
                <i class="fa fa-star-o" style="max-width: 16px; display: table-cell;" ng-click="addFav(x.data_id)" ng-if="favdata.indexOf(x.data_id) == -1"></i>
                <i class="fa fa-star" style="max-width: 16px; display: table-cell;" ng-click="delFav(x.data_id)" ng-if="favdata.indexOf(x.data_id) != -1"></i>
            </h4>
          </div>

          <div ui-if="myAccordion == {{x.data_id}}">
            <div class="panel-body">
              {{x.malay}} <i class="fa fa-volume-up right" ng-click="playvoice(x.malay)"></i><i class="fa fa-files-o right" ng-click="copyclipboard(x.malay)"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>