<div ui-content-for="title">
  <span ng-cloak class="ng-hide">GO PRO</span>
</div>

<div class="scrollable">  
  <div class="scrollable-content">

   <div class="section">
      <div class="panel-group" 
        
        ui-state='myAccordion' 
        ui-default='2'>
        
    
    <div ng-cloak class="list-group text-center" ng-hide="filterBy.length > 0">
          <div class="list-group-item list-group-item-home">
            <h2>English - Malay Phrasebook PRO
            </h2>
          </div>
          <div class="list-group-item list-group-item-home">
            <div>
              <i class="fa fa-star feature-icon text-primary"></i>
            </div>
            <div>
                <h4 class="home-heading">Go PRO now and enjoy more great features</h4>
                <ul class="home-list">
                  <li>No more ads!</li>
                  <li>Search your keywords</li>
                  <li>Unlock more categories feature (Accomodation, Shopping, Tourist Attractions and MORE!)</li>
                </ul>
                <button ng-click="buy()" class="home-button">
                  GO PRO NOW
                </button>
            </div>
          </div>
        </div>
 

        <div class="panel panel-default" ng-repeat="x in fav | inArray:filterBy:'data_id'">
        
        
        
          <div class="panel-heading" ui-set="{'myAccordion': x.data_id}">
        
            <h4 class="panel-title">
                {{x.english}}
                <i class="fa fa-star" ng-click="delFav(x.data_id)"></i>
            </h4>
          </div>

          <div ui-if="myAccordion == {{x.data_id}}">
            <div class="panel-body">
              {{x.malay}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
