<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>English - Malay Phrasebook</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-hover.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-base.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-desktop.css" />
    <link rel="stylesheet" href="demo.css" />
    <script src="dist/js/angular.min.js"></script>
    <script src="dist/js/fastclick.js"></script>
    <script src="dist/js/angular-route.min.js"></script>
    <script src="dist/js/mobile-angular-ui.min.js"></script>
    <!-- Required to use $touch, $swipe, $drag and $translate services -->
    <script src="dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="dist/js/angular-touch.js"></script>
    <script src="dist/js/angular-ui-router.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <!--script src="dist/js/app.js"></script-->
    <!--script src="dist/js/admob.js"></script-->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="demo.js"></script>
  </head>

  <body 
    ng-app="MobileAngularUiExamples" 
    ng-controller="MainController"
    ui-prevent-touchmove-defaults
    >

    <!-- Sidebars -->
    <div ng-include="'sidebar.html'" 
            ui-track-as-search-param='true'
            class="sidebar sidebar-left"></div>
 
    <div ng-include="'sidebarRight.html'" 
            class="sidebar sidebar-right"></div>

    <div class="app" 
         ui-swipe-right='Ui.turnOn("uiSidebarLeft")'
         ui-swipe-left='Ui.turnOff("uiSidebarLeft")'>

      <!-- Navbars -->

      <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title"></div>
        <div class="btn-group pull-left">
          <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
            <i class="fa fa-bars"></i> Menu
          </div>
        </div>
        <div class="btn-right" ui-yield-to="search" style="float:right;display: inline-block;position: relative;" ng-if="fullversion">
        </div>
      </div>

      <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified">
          <a href="#" class="btn btn-navbar"><i class="fa fa-star fa-navbar"></i> Favourite</a>
          <a href="" class="btn btn-navbar" ui-turn-on="modal1"><i class="fa fa-info fa-navbar"></i> Info</a>
        </div>
      </div>

      <!-- App Body -->
      <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content">
          <ng-view></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->

    <div ui-yield-to="modals"></div>

   
      <div ng-include="'modal1.html'"></div>
   

    
  </body>
</html>
