<div class="modal" ui-if='modal1' ui-state='modal1'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="modal1">&times;</button>
        <h4 class="modal-title">Info</h4>
      </div>
      <div class="modal-body">
        <p>Malay - English Translator Version 0.1.0</p>
        <p>Developed by ZAP Mobile Team 2016</p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal1" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
