<div class="scrollable">
  <h1 class="scrollable-header app-name" ng-click="go('/')">English - Malay Phrasebook</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
        <div ng-repeat="x in category" ng-show="category.length > 0">
			  <a class="list-group-item" href="#/detail/{{x.cat_id}}" ng-click="showSearch = false">{{ x.cat_name }}<i class="fa fa-chevron-right pull-right"></i>
			  </a>
	    </div>    	
    </div>
  </div>
</div>

